In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [52]:
salary = pd.read_csv(r'D:\Dokumenty\KURSY\PYTHON\Kurs UDEMY - Data Science\materia≈Çy\course-files\StackOverflowDeveloperSurvey.csv',
                     usecols=['ExpectedSalary'], squeeze=True)
salary.dropna().head()

1      37500.000000
56     70000.000000
114    86021.505376
117    31250.000000
124    68123.504274
Name: ExpectedSalary, dtype: float64

In [53]:
len(salary.dropna())

2566

In [54]:
salary.min()

0.0

In [55]:
salary.max()

187500.0

In [59]:
list(salary.dropna().head())

[37500.0, 70000.0, 86021.5053763441, 31250.0, 68123.5042735043]

In [58]:
dict(salary.dropna().head())

{1: 37500.0,
 56: 70000.0,
 114: 86021.5053763441,
 117: 31250.0,
 124: 68123.5042735043}

In [60]:
listSalarySorted = sorted(salary.dropna().head())
listSalarySorted[:5]

[31250.0, 37500.0, 68123.5042735043, 70000.0, 86021.5053763441]

In [61]:
salary.name = 'Salary of a person'