In [31]:
import pandas as pd
import math as math
import matplotlib.pyplot as plt
import numpy as np

In [32]:
incidents = pd.Series(data=[14,334,312,5823,9491,7486,4343],
                     index=["6", "7-14", "15-17", "18-24", "25-39", "40-59", "60+"])

In [33]:
incidents

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60+      4343
dtype: int64

In [34]:
incidents.where(incidents>1000)

6           NaN
7-14        NaN
15-17       NaN
18-24    5823.0
25-39    9491.0
40-59    7486.0
60+      4343.0
dtype: float64

In [35]:
incidents.where(incidents>1000).dropna()

18-24    5823.0
25-39    9491.0
40-59    7486.0
60+      4343.0
dtype: float64

In [36]:
incidents1000 = incidents.where(incidents>1000).dropna()
incidents1000

18-24    5823.0
25-39    9491.0
40-59    7486.0
60+      4343.0
dtype: float64

In [37]:
incidents

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60+      4343
dtype: int64

In [38]:
incidents.filter(items=["18-24","25-39","40-59"])

18-24    5823
25-39    9491
40-59    7486
dtype: int64

In [39]:
incidents

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60+      4343
dtype: int64

In [40]:
incidents.where(incidents<=1000, inplace=True)
incidents.dropna(inplace=True)
incidents

6         14.0
7-14     334.0
15-17    312.0
dtype: float64