In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
surveys = pd.read_csv('D:\Dokumenty\KURSY\PYTHON\Kurs UDEMY - Data Science\materiały\course-files\StackOverflowDeveloperSurvey.csv',
                     usecols=['CompanySize'],
                     squeeze=True)
surveys.head()

0                         NaN
1          20 to 99 employees
2    10,000 or more employees
3    10,000 or more employees
4          10 to 19 employees
Name: CompanySize, dtype: object

In [4]:
surveys[3]

'10,000 or more employees'

In [5]:
surveys[1:11]

1           20 to 99 employees
2     10,000 or more employees
3     10,000 or more employees
4           10 to 19 employees
5                          NaN
6           20 to 99 employees
7      Fewer than 10 employees
8     5,000 to 9,999 employees
9                          NaN
10        100 to 499 employees
Name: CompanySize, dtype: object

In [6]:
surveys[12345]

'20 to 99 employees'

In [7]:
surveys[12341:12351]

12341                         NaN
12342    1,000 to 4,999 employees
12343    10,000 or more employees
12344        100 to 499 employees
12345          20 to 99 employees
12346                         NaN
12347     Fewer than 10 employees
12348          20 to 99 employees
12349          20 to 99 employees
12350          20 to 99 employees
Name: CompanySize, dtype: object

In [9]:
surveys.sort_values(inplace=True)

In [11]:
surveys[3] #yes

'10,000 or more employees'

In [12]:
surveys[1:11]

36683    1,000 to 4,999 employees
43105    1,000 to 4,999 employees
43102    1,000 to 4,999 employees
30582    1,000 to 4,999 employees
43072    1,000 to 4,999 employees
43063    1,000 to 4,999 employees
23955    1,000 to 4,999 employees
43060    1,000 to 4,999 employees
43056    1,000 to 4,999 employees
30558    1,000 to 4,999 employees
Name: CompanySize, dtype: object

In [13]:
surveys[12345]

'20 to 99 employees'

In [14]:
surveys[12341:12351]

14554    10,000 or more employees
9429     10,000 or more employees
6384     10,000 or more employees
1102     10,000 or more employees
14549    10,000 or more employees
14547    10,000 or more employees
14570    10,000 or more employees
14575    10,000 or more employees
6410     10,000 or more employees
14576    10,000 or more employees
Name: CompanySize, dtype: object

In [15]:
surveys.reset_index(drop=True, inplace=True)

In [16]:
surveys[3]

'1,000 to 4,999 employees'

sortowanie zmieniło kolejnośc elementów, ale nie przebudowało indeksu. Część poleceń pobiera wartości dokładnie w oparciu o indeks, a inne bazują poprostu na kolejnosci elementóa. To dlatego zwracane wyniki były pozornie sprzeczne. Wystarczyło jednak rprzebudować indeks i wszytko zaczęło działać!