In [1]:
import pandas as pd

In [2]:
surveys = pd.read_csv('D:\Dokumenty\KURSY\PYTHON\Kurs UDEMY - Data Science\materiały\course-files\StackOverflowDeveloperSurvey.csv',
                     usecols=['Salary']).dropna()

In [35]:
len(surveys)

12891

In [5]:
surveysIncrease = surveys * 0.03
surveysIncrease.head()

     Salary
2   3412.50
14  3000.00
17  3900.00
18  2475.00
22  3022.92

In [8]:
surveysAfterIncrease = surveysIncrease + surveys
surveysAfterIncrease.head()

       Salary
2   117162.50
14  103000.00
17  133900.00
18   84975.00
22  103786.92

In [23]:
surveysTime = pd.read_csv('D:\Dokumenty\KURSY\PYTHON\Kurs UDEMY - Data Science\materiały\course-files\StackOverflowDeveloperSurvey2018.csv',
                         usecols=['HoursOutside'], low_memory=False, squeeze=True).dropna()
surveysTime.head()

0             1 - 2 hours
1         30 - 59 minutes
3    Less than 30 minutes
4             1 - 2 hours
5         30 - 59 minutes
Name: HoursOutside, dtype: object

In [24]:
surveysTime.value_counts()

1 - 2 hours             27788
30 - 59 minutes         24002
Less than 30 minutes    11223
3 - 4 hours              7186
Over 4 hours             1825
Name: HoursOutside, dtype: int64

In [26]:
surveysTime = surveysTime.str.lower()
surveysTime.head()

0             1 - 2 hours
1         30 - 59 minutes
3    less than 30 minutes
4             1 - 2 hours
5         30 - 59 minutes
Name: HoursOutside, dtype: object

In [28]:
surveysTime = surveysTime.apply(lambda value: value.upper())
surveysTime.head()

0             1 - 2 HOURS
1         30 - 59 MINUTES
3    LESS THAN 30 MINUTES
4             1 - 2 HOURS
5         30 - 59 MINUTES
Name: HoursOutside, dtype: object

In [29]:
def ChangeDescription(text):
    if text=='LESS THAN 30 MINUTES':
        return 'LESS THAN HALF HOUR'
    else:
        return text

In [30]:
ChangeDescription('ala')

'ala'

In [31]:
ChangeDescription('LESS THAN 30 MINUTES')

'LESS THAN HALF HOUR'

In [36]:
surveysTime = surveysTime.apply(ChangeDescription)
surveysTime.head()

0            1 - 2 HOURS
1        30 - 59 MINUTES
3    LESS THAN HALF HOUR
4            1 - 2 HOURS
5        30 - 59 MINUTES
Name: HoursOutside, dtype: object