In [1]:
import pandas as pd

In [3]:
programmers = pd.read_csv('D:\Dokumenty\KURSY\PYTHON\Kurs UDEMY - Data Science\materiały\course-files\StackOverflowDeveloperSurvey2018.csv',
                         low_memory=False, usecols=['ConvertedSalary'], squeeze=True)

In [5]:
programmers.mean()

95780.86178776571

In [6]:
programmers.median()

55075.0

In [7]:
programmers.std()

202348.21562528735

In [8]:
programmers.max()

2000000.0

In [15]:
fortune500 = pd.read_csv('D:\Dokumenty\KURSY\PYTHON\Kurs UDEMY - Data Science\materiały\course-files\Fortune_500_2017.csv',
                        usecols=['Title','Employees'], index_col='Title')
fortune500.head()

                    Employees
Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000

In [16]:
fortune500.idxmax()

Employees    Walmart
dtype: object

In [17]:
fortune500.loc[fortune500.idxmax()]

         Employees
Title
Walmart    2300000

In [18]:
fortune500.idxmin()

Employees    A-Mark Precious Metals
dtype: object

In [19]:
fortune500.loc[fortune500.idxmin()]

                        Employees
Title
A-Mark Precious Metals         83