In [1]:
import pandas as pd
import random as rd

In [4]:
planes = {'PYT001':'Airbus 320',
         'PYT002':'Boeing 737',
         'PYT003':'Airbus 321'}

In [5]:
aircrafts = pd.Series(planes)
aircrafts

PYT001    Airbus 320
PYT002    Boeing 737
PYT003    Airbus 321
dtype: object

In [9]:
flightsList = []
for i in range(100):
    flightsList.append(rd.choice(aircrafts.index))
flightsList[:5]

['PYT001', 'PYT001', 'PYT003', 'PYT003', 'PYT002']

In [10]:
flights = pd.Series(flightsList)
flights.head()

0    PYT001
1    PYT001
2    PYT003
3    PYT003
4    PYT002
dtype: object

In [11]:
flights_aircrafts = flights.map(planes)
flights_aircrafts.head()

0    Airbus 320
1    Airbus 320
2    Airbus 321
3    Airbus 321
4    Boeing 737
dtype: object