In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [11]:
salary = pd.read_csv(r'D:\Dokumenty\KURSY\PYTHON\Kurs UDEMY - Data Science\materia≈Çy\course-files\StackOverflowDeveloperSurvey.csv',
                    usecols=['ExpectedSalary'])
salary.dropna().head()

     ExpectedSalary
1      37500.000000
56     70000.000000
114    86021.505376
117    31250.000000
124    68123.504274

In [16]:
len(salary.dropna())

2566

In [19]:
min = sorted(salary.dropna())[0]
min

'ExpectedSalary'