In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [14]:
salary = pd.read_csv('D:\Dokumenty\KURSY\PYTHON\Kurs UDEMY - Data Science\materia≈Çy\course-files\StackOverflowDeveloperSurvey.csv', 
                     usecols=['Salary'],
                     squeeze=True)

salary.dropna().head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [16]:
salary.dropna().head().sort_values()

18     82500.0
14    100000.0
22    100764.0
2     113750.0
17    130000.0
Name: Salary, dtype: float64