In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math as math

In [2]:
education = pd.read_csv('D:\Dokumenty\KURSY\PYTHON\Kurs UDEMY - Data Science\materiały\course-files\StackOverflowDeveloperSurvey.csv',
                       usecols=['FormalEducation'])
type(education)

pandas.core.frame.DataFrame

In [3]:
education.head()

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

In [4]:
education = pd.read_csv('D:\Dokumenty\KURSY\PYTHON\Kurs UDEMY - Data Science\materiały\course-files\StackOverflowDeveloperSurvey.csv',
                       usecols=['FormalEducation'], squeeze=True)
type(education)

pandas.core.series.Series

In [5]:
education.head(10)

0                                     Secondary school
1    Some college/university study without earning ...
2                                    Bachelor's degree
3                                      Doctoral degree
4                                      Master's degree
5                                     Secondary school
6                                      Master's degree
7                                      Master's degree
8                                    Bachelor's degree
9                                      Master's degree
Name: FormalEducation, dtype: object

In [6]:
allinfo = pd.read_csv('D:\Dokumenty\KURSY\PYTHON\Kurs UDEMY - Data Science\materiały\course-files\StackOverflowDeveloperSurvey.csv')

In [18]:
country = allinfo['Country']
country.head()

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [19]:
type(country)

pandas.core.series.Series

In [22]:
filterOnlyUSA = country == 'United States'
filterOnlyUSA

0         True
1        False
2        False
3         True
4        False
         ...
51387     True
51388    False
51389    False
51390     True
51391    False
Name: Country, Length: 51392, dtype: bool

In [23]:
filterOnlyUSA.head()

0     True
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

In [24]:
education.where(filterOnlyUSA).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object